@import "variables";
@import "~bootstrap/scss/bootstrap";

/* Global
----------------------------*/

body {
  margin-top: 20px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background-color: #151b25;
}

.heading {
  font-weight: bold;
  color: #b7c0cf;
}

.btn {
  color: #b7c0cf;
}

#avatars {
  border: 1px black solid;
  padding: 1rem;
  width: 50%;
  background-color: white;
}
